
<h2>Employee list</h2>
<table class="table table-striped not-white">
  <thead class="not-white">
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Дата рождения</th>
    <th>Кнопка действия</th>
  </tr>
  </thead>
<tbody class="not-white">
<tr *ngFor="let employee of employees" class="not-white">
  <td class="not-white">{{employee.name}}</td>
  <td class="not-white">{{employee.surname}}</td>
  <td class="not-white">{{employee.lastName}}</td>
  <td class="not-white">{{employee.birthdate}}</td>
  <td>
    <button>press</button>
    <button>us</button>
  </td>

</tr>
</tbody>

</table>
